
<section class="nannies">
    <h2 class="nannies__title">LIST CHILDMINDERS</h2>

    <div class="filters">
        <h3 class="filters__title">Filters:</h3>

        <label for="workingTime">Working Time:</label>
        <select (change)="selectWorkingTimeChangeHandler($event)" name="workingTime" id="workingTime"> 
            <option value="All">All</option>
            <option value="Full time">Full time</option>
            <option value="Part time">Part time</option>
        </select>
    
        <label for="driving-licence">Driving Licence:</label>
        <select (change)="selectDrivingLicenceChangeHandler($event)" name="driving-licence" id="driving-licence"> 
        <option value="no">no</option>
        <option value="yes">yes</option>
        </select>
    
        <label for="gender">Gender:</label>
        <select (change)="selectGenderHandler($event)" name="gender" id="gender">
        <option value="female">female</option>
        <option value="male">male</option>
        </select>
    
        <button (click)="searchHandler()" class="button search">Search</button>
    </div>

    <div>
        <h2 class="results-found">Results Found: {{resultsFound}} childminders</h2>
    </div>

    <ul  *ngIf="nannies" class="nannies__items">
        <li *ngFor="let nanny of nannies" class="nannies__item">
            <div class="nannies__img-wrapper">
                <img src={{nanny.image}} alt="nanny image">
            </div>
            <div class="content">
                <h3 class="nannies__item__title">{{nanny.firstName}} {{nanny.lastName}}</h3>
                <p class="nanny__item__workingTime">Working Time: {{nanny.workingTime}}</p>
                <p *ngIf="nanny.description.length >= 5" class="nanny__item__desc">Description: {{(nanny.description | slice:0:5)}}...</p>
                <p *ngIf="nanny.description.length < 5"  class="nanny__item__desc">Description: {{nanny.description}}</p>
                <p class="nanny__item__driving-licence">Driving Licence: {{nanny.drivingLicence}}</p>
                <p class="nanny__item__likes">Likes: {{nanny.likes.length}}</p>
           
                <button [routerLink]="['/nannies', nanny?._id]" type="button" class="button">Read More</button>

            </div>
        </li>
    </ul>

    <div *ngIf="!nannies">
        <p>Loading...</p>
    </div>
</section>


