.common__section{
  padding: 40px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 15px;
  margin: 20px;
}

.filters select{
  width: min-content;
}

.results-found {
  font-weight: bolder;
}

.button.search {
  margin: 0px;
  flex-shrink: 0;
}

.nannies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.nanny {
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: var(--box-shadow-card);
  box-shadow: var(--box-shadow-card);
  max-width: 250px;
}
  
.nanny__img-wrapper img {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.nanny__img-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content {
  margin: 15px;
}
  
.nanny__item__title {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 15px;
}
  
.nanny__info {
    padding: 7px;
}
    