/* .nannies {
    background-color: var(--color-background-main);
    padding: 40px 60px;
  } */

  .nannies__item {
    background-color: white;
  }

  /* .nannies__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  } */

  .filters {
    display: flex;
    gap: 15px;
    align-items: center; 
    margin: 20px;
  }

  .results-found {
    margin: 20px;
  }

  .button.search {
      margin: 0px;
      flex-shrink: 0;
  }
  
  .nannies__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .nannies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: var(--box-shadow-card);
    box-shadow: var(--box-shadow-card);
    max-width: 250px;
  }
  
  .nannies__img-wrapper img {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 10px;
  }

  .nannies__img-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }
  
  .nannies__item__title {
    font-size: 18px;
    text-align: center;
    padding: 15px;
  }
  
  .nannies__item__desc {
    padding: 15px;
    text-align: center;
  }
    
  /* .button {
    background-color: var(--color-blue-main);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: block;
    margin: 10px auto 25px;
  } */