<section class="common__section">
    <h2 class="common__title">Nannies List</h2>

    <div class="filters">
        <!-- <h3 class="filters__title">Filters:</h3> -->

        <label for="workingTime">Working Time:</label>
        <select (change)="selectWorkingTimeChangeHandler($event)" name="workingTime" id="workingTime" [(ngModel)]="selectedWorkingTime"> 
            <option value="">all</option>
            <option value="Full time">full time</option>
            <option value="Part time">part time</option>
        </select>
    
        <label for="driving-licence">Driving Licence:</label>
        <select (change)="selectDrivingLicenceChangeHandler($event)" name="driving-licence" id="driving-licence" [(ngModel)]="selectedDrivingLicence"> 
        <option value="">all</option>    
        <option value="no">no</option>
        <option value="yes">yes</option>
        </select>
    
        <label for="gender">Gender:</label>
        <select (change)="selectGenderHandler($event)" name="gender" id="gender" [(ngModel)]="selectedGender">
        <option value="">all</option>    
        <option value="female">female</option>
        <option value="male">male</option>
        </select>
    
        <button (click)="filterHandler()" class="button search">Filter</button>
        <button (click)="clearFilterHandler()" class="button search">Clear filter</button>
        <p class="results-found">{{resultsFound}} nannies found</p>
    </div>


    <ul  *ngIf="nannies" class="nannies">
        <li *ngFor="let nanny of nannies" class="nanny">
            <div class="nanny__img-wrapper">
                <img src={{nanny.image}} alt="nanny image">
            </div>
            <div class="content">
                <h3 class="nanny__item__title">{{nanny.firstName}} {{nanny.lastName}}</h3>
                <p class="nanny__info">Working Time: {{nanny.workingTime}}</p>
                <p *ngIf="nanny.description.length < 5"  class="nanny__info">Description: {{nanny.description}}</p>
                <p class="nanny__info">Driving Licence: {{nanny.drivingLicence}}</p>
                <p class="nanny__info">Gender: {{nanny.gender}}</p>
                <p class="nanny__info">Likes: {{nanny.likes.length}}</p>
                <p *ngIf="nanny.description.length >= 5" class="nanny__info">Description: {{(nanny.description | slice:0:10)}}...</p>
           
                <button [routerLink]="['/nannies', nanny?._id]" type="button" class="button">Read More</button>

            </div>
        </li>
    </ul>

</section>


