
<section class="nannies">
    <h2 class="nannies__title">LIST CHILDMINDERS</h2>

    <ul  *ngIf="nannies" class="nannies__items">
        <li *ngFor="let nanny of nannies" class="nannies__item">
            <div class="nannies__img-wrapper">
                <img src="https://images.unsplash.com/photo-1525786210598-d527194d3e9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
            </div>
            <div class="content">
                <h3 class="nannies__item__title">{{nanny.name}}</h3>
                <p class="nannies__item__desc">{{nanny.description}}</p>
                <button class="read-more">Read More</button>
                <p>Id {{nanny.id}}</p>
            </div>
        </li>
    </ul>

    <div *ngIf="!nannies">
        <p>Loading...</p>
    </div>
</section>


