<footer class="footer">
    <div class="footer-nav">
        <article class="footer__col">
        <h3 class="footer__col__title">
          INFORMATION
        </h3>
        <ul class="footer__col__list">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </article>

    <article class="footer__col">
      <h3 class="footer__col__title">
        CONTACT
      </h3>
      <ul class="footer__col__list">
            <li><a href="#">02 999 999 999</a></li>
            <li><a href="#">info@sofiababysitters.com</a></li>
            <li><a href="#">Sofia, Bulgaria</a></li>
      </ul>
  </article>


    <article class="footer__col">
        <h3 class="footer__col__title">
          FOLLOW US
        </h3>
        <ul class="footer__col__list social-media">
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </article>
    </div>
   <div class="footer-copyright">
      <p>Copyright © 4022 Sofia Babysitter. Angular Project.</p>
   </div>
</footer>    
