<section class="common__section">
    <h2 class="common__title">My Profile</h2>

        <div *ngIf="user" class="profile">

            <ng-container *ngIf="!isInEditMode" >
                <div class="common__box">
                    <p class="common__box__item">First name: {{user.firstName}}</p>
                    <p class="common__box__item">Last name: {{user.lastName}}</p>
                    <p class="common__box__item">Email: {{user.email}}</p>
                   
                    <div class="buttons-list">
                    <button (click)="enterEditMode()" class="button">Update</button>
                    <button *ngIf="nanny"  [routerLink]="['/nannies/profilenanny', nanny._id]" class="button">Update your nanny data</button>
                    <button (click)="deleteUser()" class="button delete-button">Delete</button>
                    </div>
                </div> 
            </ng-container>

            <ng-container *ngIf="isInEditMode">
                <form class="form" [formGroup]="updateProfileFormGroup" (ngSubmit)="updateProfile()">
    
                    <label for="firstName">First name:</label>
                    <ng-container *ngIf="updateProfileFormGroup.controls['firstName'].touched && updateProfileFormGroup.controls['firstName'].errors">
                        <p *ngIf="updateProfileFormGroup.controls['firstName'].errors['required']" class="error-message">First name is required!</p>
                    </ng-container>
                    <input formControlName="firstName" [class.input-error]="updateProfileFormGroup.controls['firstName'].touched && updateProfileFormGroup.controls['firstName'].errors" type="text" id="firstName" placeholder="First name" >
            
                    <label for="lastName">Last name:</label>
                    <ng-container *ngIf="updateProfileFormGroup.controls['lastName'].touched && updateProfileFormGroup.controls['lastName'].errors">
                        <p *ngIf="updateProfileFormGroup.controls['lastName'].errors['required']" class="error-message">Last name is required!</p>
                    </ng-container>
                    <input formControlName="lastName" [class.input-error]="updateProfileFormGroup.controls['lastName'].touched && updateProfileFormGroup.controls['lastName'].errors" type="text"  id="lastName" placeholder="Last name" >
                   
                    <label for="email">Email:</label>
                    <ng-container *ngIf="updateProfileFormGroup.controls['email'].touched && updateProfileFormGroup.controls['email'].errors">
                        <p *ngIf="updateProfileFormGroup.controls['email'].errors['required']" class="error-message">Email is required!</p>
                        <p *ngIf="updateProfileFormGroup.controls['email'].errors['email']" class="error-message">Email should be a valid email!</p>
                    </ng-container>
                    <input formControlName="email" [class.input-error]="updateProfileFormGroup.controls['email'].touched && updateProfileFormGroup.controls['email'].errors" type="email"  id="email" placeholder="email" >
            
                    <div class="buttons-list">
                        <button [disabled]="updateProfileFormGroup.invalid" type="submit" class="button">Save</button>
    
                        <button type="button" (click)="isInEditMode = false" class="button">Cancel</button>
                    </div>                   
                </form>   
            </ng-container>
        </div>
</section>
