.nanny {
    background-color: var(--color-background-main);
    padding: var(--padding-section);
  }

  .nanny__item {
    background-color: white;
  }

  .nanny__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
   
  .nanny__item {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    -webkit-box-shadow: var(--box-shadow-card);
    box-shadow: var(--box-shadow-card);
  }
  
  .nanny__img-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    max-width: 200px;
    margin: 20px;
  }

  .nanny__img-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }
  
  .nanny__item__title {
    font-size: 20px;
    text-align: center;
    padding: 15px;

  }
  
  .button {
    background-color: var(--color-blue-main);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: block;
    margin: 10px auto 25px;
  }

  .button.delete-button {
    background-color: rgb(208, 163, 163);
  }



  .edit-form {
    background-color: white;
    -webkit-box-shadow: var(--box-shadow-card);
    box-shadow: var(--box-shadow-card);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
} 

form label {
    padding: 12px;
}

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

input.ng-valid, textarea.ng-valid, select.ng-valid  {
    background-color: rgb(229, 246, 228);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    background-color: rgb(248, 220, 220);
}

.error-message {
    color: brown;
    padding: 12px;
}



