.nanny__box {
  max-width: 1000px;    
}

.nanny__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.main-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nanny__img-wrapper {
  width: 30%;
  margin: 0px 0px 50px 0px;
}

.nanny__img-wrapper img {
  aspect-ratio: 1 / 1;
  overflow: hidden; 
  object-fit: cover;
  height: 80%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 20px;
  width: 65%;
}

.nanny-like-button{
  display: inline;
  margin: 0px 20px;
}

.additional-info{
  padding: 0px 20px;
}

.details-nanny-form{
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.details-nanny-form .button{
  background-color: var(--color-font-main);
  flex-shrink: 0;
}

.comments__title{
  text-align: center;
  font-size: 26px;
  margin: 20px;
}

.comments__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.comments__item {
  padding: 8px;
  background-color: white;
  -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.15); 
  box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.15);
  max-width: 800px;
  margin: 0px;
}

.comments__item__content {
  font-size: 14px;
  padding: 6px;
} 

.no-comments{
  text-align: center;
}

