<header class="header">

    <div class="header__logo">
      Sofia Nannies
    </div>

    <nav class="header__nav">
      <ul class="header__nav__items">
     
        <li routerLinkActive="active" class="header__nav__item">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__nav__item">
          <a routerLink="/nannies">List</a>
        </li>
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/register">Register</a>
          </li>
         
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/login">Login</a>
          </li>
        </ng-container>

        <ng-container *ngIf="(isLoggedIn$ | async)">
          <!-- <li *ngIf="(currentUser$ | async).isNanny" routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/profile"> PROFILE</a>
          </li> -->
          <li routerLinkActive="active" class="header__nav__item">
           
            <a routerLink="/user/profile"> Profile {{( currentUser$ | async)._id}} email {{( currentUser$ | async).email}}</a>
          </li>
          <!-- <li class="header__nav__item">
            <a href="javascript:void(0);" >User_id {{( currentUser$ | async)._id}}</a>
          </li> -->
          <!-- <li class="header__nav__item">
            <a href="javascript:void(0);" >email {{( currentUser$ | async).email}}</a>
          </li> -->
    
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="user/inbox">Inbox {{( currentUser$ | async).firstName}}</a>
          </li>
              
          <!-- <li *ngIf="(currentUser$ | async).userType === 'parent'" routerLinkActive="active" class="header__nav__item">
            <a routerLink="/nannies/nannyregister">REGISTER AS NANNY</a>
          </li> -->
          <li  *ngIf="!(currentUser$ | async).isNanny "routerLinkActive="active" class="header__nav__item">
            <a routerLink="/nannies/nannyregister">Become Nanny</a>
          </li>
          <!-- <li  routerLinkActive="active" class="header__nav__item">
            <a routerLink="/nannies/nannyregister">REGISTER AS NANNY</a>
          </li> -->
          <li class="header__nav__item">
            <a href="javascript:void(0);" (click)="logoutHandler()">Logout</a>
          
          <!-- <li  class="header__nav__item">
            <a href="javascript:void(0);">WELCOME {{( currentUser$ | async).firstName}}</a>
          </li> -->

        </ng-container>

        <ng-container *ngIf="message">
          <p [ngClass]="{ error: message.type == 'error', success: message.type == 'success' }">{{ message.text }}</p>
        </ng-container>

      </ul>
    </nav>
  </header>
