<header class="header">

    <div class="header__logo">
      Sofia Nannies
    </div>

    <nav class="header__nav">
      <ul class="header__nav__items">
        <li routerLinkActive="active" class="header__nav__item">
          <a routerLink="/home">HOME</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__nav__item">
          <a routerLink="/nannies">LIST</a>
        </li>
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/register">REGISTER</a>
          </li>
         
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/login">LOGIN</a>
          </li>
        </ng-container>

        <ng-container *ngIf="(isLoggedIn$ | async)">
          <li *ngIf="(currentUser$ | async).userType === 'nanny'" routerLinkActive="active" class="header__nav__item">
            <a routerLink="/user/profile"> PROFILE</a>
          </li>
          <li routerLinkActive="active" class="header__nav__item">
            <a routerLink="user/inbox">{{( currentUser$ | async).firstName}} INBOX</a>
          </li>
          <li *ngIf="(currentUser$ | async).userType === 'parent'" routerLinkActive="active" class="header__nav__item">
            <a routerLink="/nannies/nannyregister">REGISTER AS NANNY</a>
          </li>
          <li class="header__nav__item">
            <a href="javascript:void(0);" (click)="logoutHandler()">LOGOUT</a>
          </li>
          <!-- <li  class="header__nav__item">
            <a href="javascript:void(0);">WELCOME {{( currentUser$ | async).firstName}}</a>
          </li> -->

        </ng-container>

        <ng-container *ngIf="message">
          <p [ngClass]="{ error: message.type == 'error', success: message.type == 'success' }">{{ message.text }}</p>
        </ng-container>

      </ul>
    </nav>
  </header>
