<header class="header">

    <div class="header__logo">
      Sofia Nannies
    </div>

    <nav class="header__nav">
      <ul class="header__nav__items">
        <li class="header__nav__item">
          <a href="#">HOME</a>
        </li>
        <li class="header__nav__item">
          <a href="#">LIST</a>
        </li>
        <li class="header__nav__item">
          <a href="#">REGISTER</a>
        </li>
        <li class="header__nav__item">
          <a href="#">LOGIN</a>
        </li>
        <li class="header__nav__item">
          <a href="#">MY PROFILE</a>
        </li>
        <li class="header__nav__item">
          <a href="#">LOGOUT</a>
        </li>
      </ul>
    </nav>
  </header>
