.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16);   
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.16); 

    -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.13); 
    box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.13);
  }
  
  .header__logo {
    font-size: 30px;
    color: var(--color-blue-main)
  }
    
  /* header nav */
  .header__nav__items {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .header__nav__item {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2.5px solid transparent;
  }
  
  .header__nav__item:hover {
    border-bottom: 2.5px solid var(--color-blue-main);
  }
  
  .header__nav__item a {
    text-decoration: none;
    color: var(--color-font-main);
  }