<section class="create-nanny">
    <h2 class="create-nanny__title">BECOME CHILDMINDER</h2>

    <form class="create-form">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name" >

        <label for="description">Description:</label>
        <textarea name="description" rows="5" cols="50" id="description"></textarea>

        <label for="driving-licence">Driving Licence:</label>
        <select  name="driving-licence" id="driving-licence">
            <option value="no">Choose</option>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>

        <label for="gender">Gender:</label>
        <select  name="gender" id="gender">
            <option value="no">Choose</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>

        <label for="image">Image:</label>
        <input type="text" name="image" placeholder="https://"  id="">

        <button class="button">Save</button>

    </form>   
</section>