<section class="common__section">
    <h2 class="common__title">Become Nanny</h2>

    <form [formGroup]="createNannyForm" (ngSubmit)="createNanny()" class="form">
                
        <label for="description">Description:</label>
        <ng-container *ngIf="createNannyForm.controls['description'].touched && createNannyForm.controls['description'].errors" >
            <div *ngIf="createNannyForm.controls['description'].errors['required']" class="error-message">
                Description is required!
            </div>

            <div *ngIf="createNannyForm.controls['description'].errors['minlength']" class="error-message">
                Description should be more than 4 characters long!
            </div>
        </ng-container  >
        <textarea formControlName="description" rows="5" cols="200" id="description" [class.input-error]="createNannyForm.controls['description'].touched && createNannyForm.controls['description'].errors" ></textarea>
       

        <label for="workingTime">Working Time:</label>
        <ng-container *ngIf="createNannyForm.controls['workingTime'].touched && createNannyForm.controls['workingTime'].errors">
            <p *ngIf="createNannyForm.controls['workingTime'].errors['required']" class="error-message">Working Time is required!</p>
        </ng-container>
        <select formControlName="workingTime" id="workingTime" [class.input-error]="createNannyForm.controls['workingTime'].touched && createNannyForm.controls['workingTime'].errors">
            <option value="All">All</option>
            <option value="Full time">Full time</option>
            <option value="Part time">Part time</option>
        </select>


        <label for="driving-licence">Driving Licence:</label>
        <ng-container *ngIf="createNannyForm.controls['drivingLicence'].touched && createNannyForm.controls['drivingLicence'].errors">
            <p *ngIf="createNannyForm.controls['drivingLicence'].errors['required']" class="error-message">Driving Licence is required!</p>
        </ng-container>
        <select formControlName="drivingLicence" id="driving-licence" [class.input-error]="createNannyForm.controls['drivingLicence'].touched && createNannyForm.controls['drivingLicence'].errors">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>


        <label for="gender">Gender:</label>
        <ng-container *ngIf="createNannyForm.controls['gender'].touched && createNannyForm.controls['gender'].errors">
            <p *ngIf="createNannyForm.controls['gender'].errors['required']" class="error-message">Gender is required!</p>
        </ng-container>
        <select formControlName="gender" id="gender" [class.input-error]="createNannyForm.controls['gender'].touched && createNannyForm.controls['gender'].errors">
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>

        
        <label for="image">Image:</label>
        <ng-container *ngIf="createNannyForm.controls['image'].touched && createNannyForm.controls['image'].errors" >
            <div *ngIf="createNannyForm.controls['image'].errors['required']"  class="error-message">
                Image is required!
            </div>

            <div *ngIf="createNannyForm.controls['image'].errors['notValidURL']"  class="error-message">
                Image should be a valid URL!
            </div>
        </ng-container>
        <input  type="text" formControlName="image" placeholder="https://"  id="image" [class.input-error]="createNannyForm.controls['image'].touched && createNannyForm.controls['image'].errors">


        <label for="phone">Phone:</label>
        <input type="text" formControlName="phone" id="phone" >


        <button [disabled]="createNannyForm.invalid" class="button">Save</button>

    </form>

</section>

