<section class="nanny">
    <h2 class="nanny__title">MY NANNY DETAILS</h2>

    <ng-container *ngIf="nanny" >
        <ng-container *ngIf="!isInEditMode" >

            <div *ngIf="nanny" class="nanny__item">
                <div class="nanny__img-wrapper">
                    <img src={{nanny.image}} alt="">
                </div>
                <div class="content">
                    <h3 class="nanny__item__title">{{nanny.firstName | uppercase}} {{nanny.lastName | uppercase}}</h3>
                    <p class="nanny__item__desc">Description: {{nanny.description}}</p>
                    <p class="nanny__item__gender">Gender: {{nanny.gender}}</p>
                    <p class="nanny__item__workingTime">Working Time: {{nanny.workingTime}}</p>
                    <p class="nanny__item__driving-licence">Driving Licence: {{nanny.drivingLicence}}</p>
                    <p class="nanny__item__phone">Phone: {{nanny.phone}}</p>
                    <p class="nanny__item__postDate">Registered: {{nanny.created_at | date: 'longDate' }}</p>
                    <p class="nanny__item__likes">Likes: {{nanny.likes.length}}</p>
                   
                    <button (click)="enterEditMode()" class="button">Edit</button>
                    <!-- <button (click)="deleteNanny()" class="button delete-button">Delete</button> -->
                </div>
            </div>

        </ng-container>

        <ng-container *ngIf="isInEditMode"  class="edit-form">
            <form [formGroup]="updateNannyForm" (ngSubmit)="updateNanny()">
                
                <label for="description">Description:</label>
                <ng-container >
                    <div *ngIf="updateNannyForm.controls['description'].errors?.['required']" class="error-message">
                        Description is required!
                    </div>
        
                    <div *ngIf="updateNannyForm.controls['description'].errors?.['minlength']" class="error-message">
                        Description should be more than 4 characters long!
                    </div>
                </ng-container>
                <textarea formControlName="description" rows="5" cols="50" id="description"></textarea>
               

                <label for="workingTime">Working Time:</label>
                <select formControlName="workingTime" id="workingTime">
                    <option value="All">All</option>
                    <option value="Full time">Full time</option>
                    <option value="Part time">Part time</option>
                </select>


                <label for="driving-licence">Driving Licence:</label>
                <select formControlName="drivingLicence" id="driving-licence">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
        
        
                <label for="gender">Gender:</label>
                <select formControlName="gender" id="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
        
                
                <label for="image">Image:</label>
                <ng-container >
                    <div *ngIf="updateNannyForm.controls['image'].errors?.['required']"  class="error-message">
                        Image is required!
                    </div>
        
                    <div *ngIf="updateNannyForm.controls['image'].errors?.['notValidURL']"  class="error-message">
                        Image should be a valid URL!
                    </div>
                </ng-container>
                <input  type="text" formControlName="image" placeholder="https://"  id="image">
        
        
                <label for="phone">Phone:</label>
                <input type="text" formControlName="phone" id="phone" >


                <button type="button" (click)="isInEditMode = false" class="button">Cancel</button>

                <button [disabled]="updateNannyForm.invalid" class="button">Save</button>

            </form>
          
        </ng-container>
       
    </ng-container>
       
</section>
