<section class="login">
    <h2>Login</h2>
    <form class="form" [formGroup]="loginFormGroup" (ngSubmit)="submitHandler()">

        <label for="username">Username:</label>
        <input formControlName="username" type="text" name="username" id="username" placeholder="Username" >

        <ng-container *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].errors">
            <p *ngIf="loginFormGroup.controls['username'].errors['required']" class="error-message">Username is required!</p>
        </ng-container>

        <label for="password">Password:</label>
        <input formControlName="password" type="password" name="password" id="password" placeholder="Password" >

        <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors">
            <p *ngIf="loginFormGroup.controls['password'].errors['required']" class="error-message">
                Password is required!
            </p>
            <p *ngIf="loginFormGroup.controls['password'].errors['minlength']" class="error-message">
                Password should be at least 4 characters long!
            </p>
        </ng-container>

       <button [disabled]="loginFormGroup.invalid" type="submit" class="button">LOGIN</button>
    </form>
    
</section>




        
       