/* .login {
    background-color: var(--color-background-main);
    padding: var(--padding-section);
  }

.login__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.form {
    background-color: white;
    -webkit-box-shadow: var(--box-shadow-card);
    box-shadow: var(--box-shadow-card);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
} 

form label {
    padding: 12px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

.error-message {
    color: brown;
    padding: 12px;
}

.input-error{
    background-color: rgb(248, 220, 220);
} */

