@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

:root {
    --color-font-main: #383E56;
    --color-button-main: #E8835B; 
    --color-background-main: #EEDAD1;
    --color-background-additional: #D4B5B0;
    --box-shadow-card: 0px 1px 8px 4px rgba(0,0,0,0.13); 
    --padding-section: 40px 140px;
}
  
html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-font-main);
}
 
body {
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
}  

.common__section {
  background-color: var(--color-background-main);
  padding: var(--padding-section);
  min-height: 60vh;
}

.common__title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  background-color: var(--color-button-main);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  display: block;
  margin: 10px auto 15px;
}

.button.delete-button {
  background-color: rgb(198, 40, 40);
}

.buttons-list{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* form */
.form,
.common__box{
  background-color: white;
  -webkit-box-shadow: var(--box-shadow-card);
  box-shadow: var(--box-shadow-card);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

.common__box{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.common__box__item{
  font-size: 20px;
}

form label {
  padding: 12px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 12px 20px 12px 12px;
  border-radius: 0 4px 4px 4px;
  margin: 8px;
}

.input-error{
  background-color: rgb(248, 220, 220);
}

.error-message {
  color: brown;
  padding: 12px;
}

/* input.ng-valid, textarea.ng-valid, select.ng-valid  {
  background-color: rgb(229, 246, 228);
} */

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  background-color: rgb(248, 220, 220);
}
