<section class="hero">
    <div class="hero-img">
      <img src="../../assets/hero4.jpg" alt="img">
    </div>
    <article class="hero-desc">
        <h1 class="hero-desc__title">
          Your little ones
          <br>
          deserve the very best care
        </h1>

        <ul class="hero-desc__links">
     
            <li routerLinkActive="active" class="hero-desc__link">
              <a routerLink="/nannies">Find a nanny</a>
            </li>
            <li routerLinkActive="active" class="hero-desc__link">
                <a routerLink="/user/register">Become a nanny</a>
            </li>
        </ul>

    </article>
  </section>


<section class="how-find-nanny">
    <h2 class="how__title">How to find a nanny</h2>
    <ul class="how__items">

      <li class="how__item">
        <div class="circle">1</div>
          <h3 class="how__item__title">
            Register online
          </h3>
          <p class="how__item__desc">
            It’s free to register. Simply enter your name, email and password.
          </p>
      </li>

      <li class="how__item">
        <div class="circle">2</div>
        <h3 class="how__item__title">
          Chose nanny
        </h3>
        <p class="how__item__desc">
          Chose from our list of nannies. You can read the comments and see the likes for every nanny.
        </p>
    </li>

    <li class="how__item">
        <div class="circle">3</div>
        <h3 class="how__item__title">
          Send message
        </h3>
        <p class="how__item__desc">
            You can send a message to any nanny you have selected.
        </p>
    </li>

      </ul>
  </section>

  <section class="how-become-nanny" >
    <h2 class="how__title">How to become a nanny</h2>
    <ul class="how__items">

      <li class="how__item">
          <div class="circle">1</div>
          <h3 class="how__item__title">
            Register online
          </h3>
          <p class="how__item__desc">
            It’s free to register. Simply enter your name, email and password.
          </p>
      </li>

      <li class="how__item">
        <div class="circle">2</div>
        <h3 class="how__item__title">
          Become a nanny
        </h3>
        <p class="how__item__desc">
          Fill in your nanny details as description, working time, driving licence, gender and a photo.
        </p>
    </li>

    <li class="how__item">
        <div class="circle">3</div>
        <h3 class="how__item__title">
          Receive a message
        </h3>
        <p class="how__item__desc">
            Parent who have chosen you will send you a message. In the menu Inbox, you can read your messages. 
        </p>
    </li>

      </ul>
  </section>



